.home-slider-image{
    width: 100%; 
    height: 150px;
}
.cart-notification::after {
    content: attr(data-count);
    position: absolute;
    background: #ffc107;
    height: 1.5rem;
    top: -0.3rem;
    right: 1.4rem;
    width: 1.6rem;
    text-align: center;
    line-height: 1.4;
    font-size: 1rem;
    border-radius: 50%;
    color: #495057;
    border: 1px solid #ffc107;
    font-family: sans-serif;
    font-weight: bolder;
}